:host {
  height: 100%;
  padding: 0 16px 16px;
}

.mat-form-field {
  height: 42px;
  width: 120px;
}


table.mat-table {
  tr {
    .mat-column-name {
      width: 50%;
    }

    .mat-column-gender {
      width: 40%;
    }
 }
}
