<div fxFlexFill fxLayout="column" fxLayoutGap="8px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-card-header mat-card-title">
      {{ pokemonService.totalRows }}
    </div>
    <img src="assets/images/count.jpg" width="64" />
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        'app.models.pokemon.columns.name' | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" style="width: 180px">
        <button matSuffix mat-icon-button (click)="name.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <input
          [formControl]="name"
          matInput
          [placeholder]="'app.models.pokemon.columns.name' | translate"
        />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        'app.models.pokemon.columns.gender' | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-checkbox
        *ngFor="let gender of $any(genders)"
        [formControl]="gender.value.formControl"
      >
        <span>{{ gender.value.label || '' | translate }}</span>
        <span class="counts">{{ gender.value.count }}</span>
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        'app.models.catch-wish.title' | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-checkbox
        *ngFor="let cw of $any(catchWishes)"
        [formControl]="cw.value.formControl"
      >
        <span>{{ cw.value.label || '' | translate }}</span>
        <span class="counts">{{ cw.value.count }}</span>
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>
