:root {
  --margin-padding: 8px 12px 8px;
  --margin-padding-no-top: 0 12px 8px;
  --std-margin-between: 8px;
  --smaller-font: 12px;
  --lower-opacity: 0.54; // matches mat panel description
  --material-icon-size: 24px;
}
